* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 80vh;
  height: 100vh;
  margin: auto;
}

.container header {
  align-items: center;
  background-color: #1c3144;
  color: white;
  display: flex;
  font-size: 4ch;
  height: 7vh;
  margin-bottom: 40px;
  padding: 5px;
}

.container main {
  background-color: #ffba08;
  height: 100vh;
  padding: 20px;
}

.box {
  border-bottom: solid 1px #1c3144;
  margin-bottom: 20px;
}

.box h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* --------------- Webfonts --------------- */

@font-face {
  font-family: "Cream";
  src: url("fonts/Cream.ttf") format("truetype");
  font-stretch: 1% 500%;
}

@font-face {
  font-family: "Birds";
  font-style: italic;
  src: url("fonts/Birds.ttf") format("truetype");
}

@font-face {
  font-family: statik;
  src: url("fonts/static.oet") format("embedded-opentype");
  src: url("fonts/statik.woff") format("woff");
  src: url("fonts/statik.ttf") format("truetype");
}

h1 {
  font-family: "Cream";
}

#italic {
  font-family: "Birds";
}

#bulletproof {
  font-family: "statik";
}

h2 {
  font-size: 50px;
  font-family: monospace, serif;
}

h2.impact {
  font-size: 50px;
  font-family: Impact, serif;
}

h2.adjusted {
  font-size-adjust: 0.517;
}

p {
  margin-bottom: 20px;
}

.create {
  font-family: sans-serif;
  margin-bottom: 20px;
}

.condensed {
  font-stretch: ultra-condensed;
}

.expanded {
  font-stretch: ultra-expanded;
}

.smallcaps {
  font-feature-settings: "smcp" on;
}

.ligatures {
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
}
