h1 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.contenedor {
  align-items: center;
  color: #fff;
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
}

.grupo {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.one {
  transition-property: background-color, transform;
}

.one:hover {
  background-color: rgb(121, 121, 121);
  transform: rotate(45deg);
}

.two {
  transition-property: background-color, transform;
  transition-duration: 1000ms;
}

.two:hover {
  background-color: rgb(121, 121, 121);
  transform: rotate(45deg);
}

.three {
  transition-property: background-color, color, font-size, transform;
  transition-duration: 1000ms;
  transition-delay: 700ms;
}

.three:hover {
  background-color: rgb(121, 121, 121);
  color: rgb(139, 0, 0);
  font-size: 20px;
  transform: rotate(45deg);
}

.contenedor2:hover .box {
  width: 100%;
}

.box {
  align-items: center;
  display: flex;
  border: solid 1px #000;
  color: #fff;
  height: 150px;
  width: 150px;
  justify-content: center;
  transition-duration: 2000ms;
  transition-property: width;
}

.four {
  background-color: rgb(139, 0, 0);
  transition-timing-function: linear;
}

.five {
  background-color: rgb(255, 140, 0);
  transition-timing-function: ease-in;
}

.six {
  background-color: rgb(0, 100, 0);
  transition-timing-function: ease-out;
}

.seven {
  background-color: rgb(72, 61, 139);
  transition-timing-function: ease-in-out;
}

.crate {
  background-color: rgb(128, 128, 128);
  background-image: url("../car.png");
  background-size: 25%;
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 175px;
  width: 100%;
  margin-top: 20px;
}

@keyframes move {
  from {
    background-position: bottom left;
  }
  50% {
    background-position: bottom center;
  }
  to {
    background-position: bottom right;
  }
}

.eight:hover {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 250ms;
}

.nine:hover {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 250ms;
  animation-iteration-count: 3;
}

.ten:hover {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 250ms;
  animation-iteration-count: 3;
  animation-direction: reverse;
}

.eleven:hover {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 250ms;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

.twelve {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 250ms;
  animation-iteration-count: infinite;
}

.twelve:hover {
  animation-play-state: paused;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .contenedor {
    flex-direction: column;
    height: 500px;
    width: 100%;
  }

  .crate {
    background-size: 40%;
  }
}
