* {
  margin: 0;
  padding: 0;
}
body {
  background-color: darkorange;
}

header {
  background-color: white;
  box-shadow: 10px 10px 8px rgb(29, 29, 29);
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin-bottom: 50px;
  text-align: center;
}

section {
  align-items: center;
  background: white;
  box-shadow: 8px 8px 20px rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  height: 2000px;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.container {
  background-color: darkcyan;
  border: solid 1px black;
  display: flex;
  height: 150px;
  width: 90%;
  margin-bottom: 20px;
  text-align: center;
}

.one {
  flex-direction: row;
}

.two {
  flex-direction: column;
}

.three {
  flex-direction: row-reverse;
}

#a {
  order: 1;
}
#b {
  order: 0;
}
#c {
  order: 2;
}
#d {
  order: 4;
}
#e {
  order: 3;
}
#f {
  order: 6;
}
#g {
  order: 5;
}

.four {
  flex-direction: row;
}

.boxes {
  background-color: lightgrey;
  border: solid 1px black;
  height: 75px;
  width: 75px;
  text-align: center;
}

.box {
  background-color: lightgrey;
  border: solid 1px black;
  flex-grow: 1;
  height: 75px;
  width: 75px;
  text-align: center;
}

.create {
  background-color: lightgrey;
  border: solid 1px black;
  flex-grow: 1;
  flex-shrink: 1;
  height: 75px;
  width: 75px;
  text-align: center;
}

.create:nth-of-type(2) {
  background-color: darkorange;
  flex-shrink: 10;
}

.fbasis {
  background-color: lightgrey;
  border: solid 1px black;
  flex-basis: 100px;
  text-align: center;
}

#justify {
  justify-content: center;
}

#align {
  align-items: center;
}

.four {
  flex-wrap: wrap;
}

.five {
  flex-wrap: wrap-reverse;
}

.six {
  flex-wrap: wrap;
  align-content: center;
}
