.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  width: 90vw;
  margin: auto;
}

.container header {
  align-items: center;
  background-color: hsl(208, 42%, 19%);
  color: #fff;
  display: flex;
  font-size: 4ch;
  height: 10vh;
  padding: 5px;
}

.container main {
  background-color: hsl(43, 100%, 52%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  height: cal(80vh - 40px);
  padding: 20px;
}

.container footer {
  background-color: hsl(208, 42%, 19%);
  height: 10vh;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .container {
    width: 100vw;
  }

  .container main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .grupo {
    width: 100vw;
  }

  .container header {
    font-size: 2ch;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .container {
    width: 100vw;
  }

  .container header {
    height: 20vh;
    justify-content: center;
  }

  .container main {
    height: cal(60vh - 40px);
  }

  .container footer {
    height: 20vh;
  }
}

@media only screen and (min-width: 576px) and (max-width: 900px) {
  .container {
    width: 100vw;
  }

  .container header {
    justify-content: center;
  }
}
